#header{
margin: 0;
padding: 0;
background-image:url("header.png") ;
height: 500px;
width: 100%;
background-repeat: no-repeat;
background-size: 100%;

padding-top: 30px;

}
#Logo
{
    width: 250px;
    background-size: 100px;
    float: left;
    padding-left:100px; ;

}
#btn
{
    border-radius:50px ;
    margin-left: 60%;
    height: 8%;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #038DFE;
    font-size: 20px;
    color: white;
}
#Logo img
 {
    width: 100%;
    
 }
 table 
 {
    font-size: 35px;
    color: white;
    padding-left:200px;
    
 }
 table a:hover{
     color: #038DFE;
    
 }
 td 
 {
     padding-left: 40px;
 }
 #btn:hover{
     color: #038DFE;
     background-color: white;
     
 }
 #public {
     color: white;
     margin-top: -400px;
     font-size: 35px;
     background-color: none;
     padding-left: 20px;
 }
 #public1 {
     color: white;
     font-size: 20px;
     padding-left: 25px;
     background-color: none;
 }
#btn1{
    border-radius:50px ;
    margin-left: 20px;
    height: 5%;
   background-color: black;
   padding-left: 40px;
   padding-right: 40px;
   margin-top: 30px;
   font-size: 20px;
   color: white;
}
#btn1:hover{
    color: #038DFE;
    background-color: white;
}
#btn2{
    border-radius:50px ;
    margin-left: 250px;
    height: 5%;
   background-color:#038DFE ;
   padding-left: 100px;
   padding-right: 100px;
   margin-top: -60px; 
   font-size: 20px;
   color: white;
}
#btn2:hover{
    color: #038DFE;
    background-color: white;
}

 #titr1  {
color: #038DFE;
font-size: 50px;
margin-top: 10%;
text-align: center;
}
#txt1 {
    font-size: 30px;

    text-align: center;
}

#contener {
    background-color: none;
}
#articl1 {
    background-color: #E8E9F0;
    width:20%;
    margin-left: 100px;
    height: 40%;
    margin-top: 1%;
  
}
#img1 {
   margin-left: 170px;
}
#titr2 {
    font-size: 29px;
text-align: center;
}
#txt2 {
font-size: 23px;
text-align: center;
}
#articl2 {
    background-color: #E8E9F0;
    width:20%;
    margin-left: 40%;
    height: 40%;
    margin-top: -400px;
}
#img2 {
margin-left: 170px;
}
#titr3 {
font-size: 29px;
text-align: center;
}
#txt3 {
    font-size: 23px;
    text-align: center;
}
#articl3 {
    background-color: #E8E9F0;
    width:20%;
    margin-left: 75%;
    height: 40%;
    margin-top: -400px;
}
#img3 {
    margin-left: 170px;
}
#titr4 {
    font-size: 29px;
    text-align: center;
}
#txt4 {
    font-size: 23px;
    text-align: center;
}
#contener1 {
    margin-top: 6%;
    height: 60%;
    background-color: #038DFE;
    width: 100%;

}
#photo1 {
width: 50%;
height: 525px;

}
#contener2 {
    background-color: none;
    margin-top: -20%;
    padding-left: 50%;
}
#para1 {
   text-align: center;
   font-size: 45px;
   color: white;
   margin-top: -50px;
}
#para2 {
text-align: center;
font-size: 30px;
color: #F4E9E9;
}
#para3 {
text-align: center;
font-size: 25px;
color:#F4E9E9;
}
#contener3 {
    background-color: black;
    margin-top: -60px;
    height: 60%;
    width: 100%;
    display: flex;
}
#para4 {
    color: #038DFE;
    padding-left: 800px;
    font-size: 30px;
    margin-top: 10%;
    text-align: center;
    display: flex;
    
}
#para5 {
    color: white;
    text-align: center;
    margin-top: 15%;
    font-size: 60px;
    margin-right: 2%;
    display: flex;
}
#contener4 {
    background-color:#038DFE ;
    height: 50%;
    width: 100%;
    display: flex;
    margin-top: -27px;
}
#articl4 {
    background-color:none;
    width: 32%;
    height: 100%;

}
#para6 {
font-size: 40PX;
color: white;
text-align: center;
margin-top: 60px;
}
#para7 {
    font-size: 35px;
    text-align: center;
    color: white;

}
#articl5{
  background-color: none;
  width: 32%;
  height: 100%;
  margin-left: 5%;
  border-right: 1px dashed black;
  border-left: 1px dashed black;
  
}
#para8 {
    font-size: 40PX;
    color: white;
    text-align: center;
    margin-top: 60px;
   
}
#para9 {
    font-size: 35px;
    text-align: center;
    color: white;  
}
#articl6 {
    background-color: none;
  width: 32%;
  height: 100%;
  margin-left: 5%;
  
}
#para10 {
    font-size: 40PX;
    color: white;
    text-align: center;
    margin-top: 60px;
}
#para11 {
    font-size: 35px;
    text-align: center;
    color: white;
}
#text1 {
    line-height: 1.7;
    font-size: 35px;
    text-align: center;
}
#titre1 {
    font-size: 55px;
    margin-top: 5%;
    text-align: center;
}
#photo2 {
    margin-left: 48%;
    
}
#titre2 {
    font-size: 40px;
    margin-top: 8%;
    padding-left: 6%;
}
#btn3 {
    border-radius:50px ;
    margin-left: 50%;
    height: 8%;
    background-color:#038DFE ;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 35px;
    margin-top: -6.5%;
    color: white;

}
#btn3:hover {
    color: #038DFE;
    background-color: whitesmoke;
}
#footer {
    background-color: black;
    width: 100%;
    height: 25%;
    display: flex;
}
#footer1 {
    color:#8D8D98;
    font-size: 40px;
    margin-top: 30px;
    margin-left: 30px;
  
}
#footer2 {
    color:#038DFE;
    font-size: 25px;
    margin-left: 25px;
    border-bottom:1px solid #038DFE ;margin-right: 1900px;
}
#footer3 {
    color: #F3F3F7;
    font-size: 30px;
    text-align: center;
}


#footer4 {
    color: #8D8D98;
    font-size: 40px;
    margin-top: -11%;
    margin-left: 1350px;
    
}
#footer5 {
   width: 2%;
   margin-left: 1400px;
}
#footer6 {
    width: 2%;
    margin-left: 1500px;
    margin-top: -45px;
}
#footer7 {
    width: 2%;
    margin-left: 1600px;
    margin-top: -45px;
}
#footer8 {
    width: 2%;
    margin-left: 1700px;
    margin-top: -45px;
}
#header ul li {
    list-style-type: none;
    float: left;
}
#header ul li a{
    text-decoration: none;
    font-size: 35px;
    color: white;
    
}
